.background{
    background: linear-gradient(to right,black, dimgray, gray);
}

.card-title{
    font-size: 1rem;
    height: 170px;
    border-bottom: 5px solid lightgrey;
}

.source-date{
    display: flex;
    justify-content: space-between;
}

.source-date p{
    font-size: 0.8rem;
}

.card-text{
    font-size: 0.9rem;
    height: 300px;
}

@media only screen and (min-width:0) and (max-width:576px){
    .card-title{
        height: 70px;
    }
    .card-text{
        height: 90px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px){
    .card-title{
        height: 80px;
    }
    .card-text{
        height: 110px;
    }
}

@media only screen and (min-width:768px) and (max-width:992px){
    .card-title{
        height: 90px;
    }
    .card-text{
        height: 130px;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px){
    .card-title{
        height: 100px;
    }
    .card-text{
        height: 150px;
    }
}
